/* .container{
    width: 1000px;
    margin: 30px auto;
    background-color: blueviolet;
    display: grid;
    grid-template-rows: 150px 150px;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 30px;
    grid-auto-rows: 100px;
    grid-auto-columns: 100px;
    grid-auto-flow: rows;
    align-items: center;
    justify-content: center;
} */


.container{
    width: 1000px;
    height: 1300px;
    margin: 30px auto;
    background-color: #eee;
    display: grid;
    grid-template-rows: 50px 50px;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 30px;
    grid-auto-rows: 50px;
    grid-auto-columns: 100px;
    grid-auto-flow: rows;
    /* align-items: center;
    justify-content: center; */
    justify-content: space-evenly;
    align-content: space-between;
}



.item{
    padding: 20px;
    font-size: 20px;
    background-color: orangered;
}

.item-4{
    grid-row: 2 / span 3;
    align-self: stretch;
    justify-self: stretch;
}